name: Build and Pack Template

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'

    - name: Pack the template
      run: dotnet pack Clean.Architecture.Template.Templates.csproj -o ./artifacts

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: template-package
        path: ./artifacts
